<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Snake.My.MySettings>
            <setting name="gameWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="gameHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="boardColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="snakeColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="foodColour" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="deathWalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startSpeed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="speedIncrease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lengthIncrease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appleAmount" serializeAs="String">
                <value>1</value>
            </setting>
        </Snake.My.MySettings>
    </userSettings>
</configuration>